--
-- PostgreSQL database dump
--

\restrict xcFq4x2oEsBxVI79B2EENoahVtjHoElTZRLUysGdsMc8MhIWJ5wc5KBKWHlZ0mY

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: trendwear
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(120),
    phone character varying(40),
    city character varying(80),
    segment character varying(40),
    created_at timestamp without time zone
);


ALTER TABLE public.customers OWNER TO trendwear;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: trendwear
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO trendwear;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: trendwear
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: trendwear
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    product_id integer,
    quantity integer,
    unit_price double precision
);


ALTER TABLE public.order_items OWNER TO trendwear;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: trendwear
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO trendwear;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: trendwear
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: trendwear
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    customer_id integer,
    status character varying(30),
    total double precision,
    note text,
    created_at timestamp without time zone
);


ALTER TABLE public.orders OWNER TO trendwear;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: trendwear
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO trendwear;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: trendwear
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: trendwear
--

CREATE TABLE public.products (
    id integer NOT NULL,
    sku character varying(40) NOT NULL,
    name character varying(120) NOT NULL,
    category character varying(60),
    price double precision,
    stock integer,
    reorder_level integer,
    created_at timestamp without time zone
);


ALTER TABLE public.products OWNER TO trendwear;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: trendwear
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO trendwear;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: trendwear
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: trendwear
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    full_name character varying(120) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(20),
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO trendwear;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: trendwear
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO trendwear;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: trendwear
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: trendwear
--

COPY public.customers (id, name, email, phone, city, segment, created_at) FROM stdin;
1	Anvar Tekstil MChJ	\N	+998900000000	Toshkent	Wholesale	2026-06-12 21:03:29.190986
2	Style Market	\N	+998900000000	Samarqand	Retail	2026-06-12 21:03:29.190992
3	Fashion House	\N	+998900000000	Buxoro	VIP	2026-06-12 21:03:29.190993
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: trendwear
--

COPY public.order_items (id, order_id, product_id, quantity, unit_price) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: trendwear
--

COPY public.orders (id, customer_id, status, total, note, created_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: trendwear
--

COPY public.products (id, sku, name, category, price, stock, reorder_level, created_at) FROM stdin;
1	TW-1001	Erkaklar ko'ylagi	Ko'ylak	120000	250	10	2026-06-12 21:03:29.194644
2	TW-1002	Ayollar bluzkasi	Bluzka	95000	180	10	2026-06-12 21:03:29.194647
3	TW-1003	Jinsi shim	Shim	180000	120	10	2026-06-12 21:03:29.194648
4	TW-1004	Sport futbolka	Futbolka	65000	8	10	2026-06-12 21:03:29.194648
5	TW-1005	Qishki kurtka	Ustki kiyim	420000	40	10	2026-06-12 21:03:29.194649
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: trendwear
--

COPY public.users (id, username, full_name, hashed_password, role, created_at) FROM stdin;
1	admin	Tizim administratori	$2b$12$SC0Qehl9JehohHm6MAXGIutf6q7lyufTX/lElKPnQ3V.9wWbcp4zO	admin	2026-06-12 21:03:29.198028
\.


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: trendwear
--

SELECT pg_catalog.setval('public.customers_id_seq', 3, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: trendwear
--

SELECT pg_catalog.setval('public.order_items_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: trendwear
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: trendwear
--

SELECT pg_catalog.setval('public.products_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: trendwear
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_customers_id; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE INDEX ix_customers_id ON public.customers USING btree (id);


--
-- Name: ix_order_items_id; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE INDEX ix_order_items_id ON public.order_items USING btree (id);


--
-- Name: ix_orders_id; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE INDEX ix_orders_id ON public.orders USING btree (id);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_products_sku; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE UNIQUE INDEX ix_products_sku ON public.products USING btree (sku);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: trendwear
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trendwear
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- PostgreSQL database dump complete
--

\unrestrict xcFq4x2oEsBxVI79B2EENoahVtjHoElTZRLUysGdsMc8MhIWJ5wc5KBKWHlZ0mY

